{% extends "base.html" %}
{%load static%}
{% block title %}About Us{% endblock title %}
{% block body %}
<style>
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 40px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
  }
</style>

<main class="container">
  <img src="https://images.unsplash.com/photo-1576115081906-b15927fb959e?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" style="max-height:80vh;" alt="...">
  <hr>  
  
    <div class="row">
      <div class="col">
        
  
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Company Profile</h2>
          <hr>
          <p>Established in 2004, Shanoor Trading Co LLC has been a leading building material supplier in the UAE, providing high-quality products for over two decades. We offer a comprehensive range of materials, including Power tools, MEP components, Safety material, General Hardware, Consumables and much more. Our commitment to quality ensures that our materials meet the highest standards for durability, safety, and sustainability and our nothing short of Best in Class grades.</p>
          <p>At Shanoor Trading Co LLC, customer satisfaction is our top priority. We work closely with our customers and partners to provide tailored solutions that meet the specific needs of each project, ensuring timely delivery and competitive pricing. Our experienced team and robust logistics network allow us to support projects of all sizes, from small renovations to large-scale developments.</p>
          <p>Over the years, we have contributed to numerous iconic projects across the UAE, earning a reputation for reliability, excellence, and service. Our unique strength lies in offering a diverse range of high-quality, globally sourced building materials, coupled with exceptional customer service and timely delivery, making Shanoor Trading Co LLC a trusted partner for projects of all sizes.</p>
          <p>Explore our website to discover our full range of hardware equipments. For inquiries, personalized service, or to place an order, our team of experts is ready to assist you. Trust Shanoor Trading for all your hardware spare part needs.</p>
          <h2 class="display-5 link-body-emphasis mb-1">Why Choose Shanoor Trading</h2>
          <hr>
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Quality & Reliability</h3>
                  <p class="card-text mb-auto">We offer globally sourced, high-quality building materials that meet industry standards, ensuring durability and performance. Our long-standing reputation is built on consistently delivering reliable products that customers can trust.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Affordable Pricing</h3>
                    <p class="card-text mb-auto">At STC, we balance quality with affordability, providing competitively priced solutions without compromising on standards. Our goal is to offer cost-effective products that cater to a range of project needs and budgets.</p>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Support & Service</h3>
                  <p class="mb-auto">Our dedicated team provides expert support, assisting clients from product selection to post-sale service. We prioritize building strong relationships by offering tailored solutions and prompt responses to your inquiries.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">OTIF Delivery</h3>
                    <p class="mb-auto">We understand the importance of timely project execution, which is why we strive for on-time, in-full (OTIF) deliveries. Our logistics expertise ensures that your materials arrive exactly when and where you need them.</p>
                  </div>
                </div>
              </div>
          </div>
          <h2 class="display-5 link-body-emphasis mb-1">Our Mission:</h2>
          <hr>
          <p>To provide the highest quality building materials at competitive prices, with exceptional service and timely delivery, meeting the evolving needs of our clients.</p>
          <h2 class="display-5 link-body-emphasis mb-1">Our Vision:</h2>
          <hr>
          <p>To be the leading building materials supplier in the UAE, recognized for innovation, reliability, and value for money, while contributing to the success of landmark projects and reshaping the future of the building materials industry.</p>
          
          
          <hr>
          <footer class="text-muted">
            <div class="container">
              <img class="logo" src="../static/logo1.jpg" class="d-block w-50" alt="...">
              <h4>Contact us</h4>
              <h5>Phone : +9714 222 0251 / +97150 503 3295</h5>
              <h5>Email : info@shanoortrading.com </h5>
              <h5>Follow Us : <a href="https://www.linkedin.com/company/shanoor-trading-co-llc/"> LinkedIn</a> </h5>
            </div>
          </footer>
  </main>
  
{% endblock body  %}
